<div>
    <br>
      <div class="container">
          <div class="container">
            <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
                <div class="blocks">
                    <button button="submit" mat-raised-button color="primary" (click)="OpenCategoryView(0)">
                        <mat-icon>add</mat-icon> Add Category
                    </button>
                </div>
          </div>
      </div>
      <br>
      <div class="container">
        <div fxLayout="row" fxLayoutAlign="center center" class="content">
          <mat-card class="card" >
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
              <h3>Categories</h3>
            </mat-card-title>
            <mat-card-content>
                <div class="example-container mat-elevation-z8">
                    <mat-table #table [dataSource]="dataSource">
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="description">
                      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                    </ng-container>
                      <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                      </ng-container>
                       <ng-container matColumnDef="createby">
                          <mat-header-cell *matHeaderCellDef> Create By </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.createby }} </mat-cell>
                        </ng-container>
                      <ng-container matColumnDef="creationdate">
                          <mat-header-cell *matHeaderCellDef> Creation Date </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.creationdate}} </mat-cell>
                        </ng-container>
                      <ng-container matColumnDef="edit">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <a
                              (click)="OpenCategoryView(element.id)"
                                type="button">
                              <mat-icon class="icon">edit</mat-icon>
                            </a> 
                          </mat-cell>
                        </ng-container> 
                      <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <a (click)="deleteCategory(element.id)"
                              type="button">
                            <mat-icon class="icon">delete</mat-icon>
                          </a> 
                        </mat-cell>
                      </ng-container>   
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                  </div> 
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <router-outlet name="reminderEditOutlet"></router-outlet>