<h3>Search Moments from NASA</h3>
<p><i>Searches when typing stops. Caches for 30 seconds.</i></p>
<input (keyup)="search($event.target.value)" id="name" placeholder="Search"/>
<input type="checkbox" id="refresh" [checked]="withRefresh" (click)="toggleRefresh()">
<label for="refresh">with refresh</label>

<div *ngFor="let moment of moments$ | async">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{moment.nasa_id}}</mat-card-title>
      <mat-card-subtitle>{{moment.title}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{moment.href}} alt="{{moment.nasa_id}}">
    <mat-card-content>
      <p>
        {{moment.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>ADD</button>
    </mat-card-actions>
  </mat-card>
</div>



